



ul li a{
    list-style-type: none;
    display:flex;
    
    
}










/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}
/* Estilos del encabezado */
header {
    border-bottom: 1px solid #7d7ed4; /* Línea sutil debajo del encabezado */
    background-color: #4243a0;
    padding: 1rem 0;
}
.navbar-brand {
    font-weight: 600;
}
.navbar-nav .nav-link {
    color: #020108;
    padding: 0.5rem 1rem;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    font-weight: 600;
}
/* Estilos del contenido principal */
main {
    padding: 4rem 0;
    text-align: center;
}
main h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
main p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.moto-image {
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
/* Estilos del pie de página */
footer {
    border-top: 1px solid #eee; /* Línea sutil encima del pie de página */
    padding: 1,5rem 0;
    text-align: center;
    color:#151638;
    background-color: #4243a0;
    font-size: 0.9rem;

}

.text-custom-light {
    color: #a8dadc; /* Un color turquesa claro */
}

.text-custom-light:hover {
    color: #457b9d; /* Un azul más oscuro al pasar el ratón */
}

footer a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

footer i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

body{
    background-image: url(https://ar.images.search.yahoo.com/search/images;_ylt=AwrgwvU7TN5nEeAG5lmr9Qt.;_ylu=Y29sbwNncTEEcG9zAzEEdnRpZAMEc2VjA3BpdnM-?p=imagenes+de+motos&fr2=piv-web&type=E210AR91215G0&fr=mcafee#id=6&iurl=https%3A%2F%2Fwww.1zoom.me%2Fbig%2F93%2F30464-kolbasit.jpg&action=click);
}



